<style>
    .table-bordered {
        border-top: none !important;
        border-left: none !important;
    }

    .table thead th {
        border-bottom: none !important;
    }

    td.sticky-1, td.sticky-2, td.sticky-3, td.sticky-4 {
        position: -webkit-sticky;
        position: sticky;
        outline-offset: -1px;
        color: #313435;
        vertical-align: middle !important;
        background-color: aliceblue;
    }

    .table tr .sticky-1 {
        left: -1px;
        z-index: 5;
    }

    .table tr .sticky-2 {
        left: 80px;
        z-index: 5;
    }

    .table tr .sticky-3 {
        left: 130px;
        z-index: 5;
    }

    .table tr .sticky-4 {
        left: 310px;
        z-index: 5;
    }
    th.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
        outline-offset: -1px;
        color: #313435;
        z-index: 2;
        vertical-align: middle !important;
        background-color: #F9FAFB;
    }
</style>
<div id="Ad_ThongsoCtr">
    <div class="bar-white-olook top-bar" style="padding:10px; background-color: #fff; margin-bottom: 10px">
        <div class="d-flex">
            <div class="col-md-4" style="padding-left:0px;">
                <ul class="utop">
                    <li ng-if="ob.Loaiquantrac">
                        <div class="btn-active {{focusBtnAdd}}" ng-click="Input_AddThongso()" style="text-align:center;padding:4px 5px;">
                            <i class="la la-plus-circle"></i>
                            <span>Thêm mới</span>
                        </div>
                    </li>
                    <li>
                        <div class="btn-active dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <span ng-if="!ob.Loaiquantrac">Loại quan trắc</span>
                            <span ng-if="ob.Loaiquantrac">{{ob.Loaiquantrac.Loaiquantrac_Ten}}</span>
                        </div>
                        <ul class="dropdown-menu list-tc" id="dropdownSort" role="menu" style="min-width: 100px;margin-top:0;">
                            <li ng-repeat="t in loaiquantracs track by t.Loaiquantrac_ID">
                                <a ng-click="changeTypeThongso(t)" class="{{t.Loaiquantrac_ID === ob.Loaiquantrac.Loaiquantrac_ID}} d-b td-n pY-5 bgcH-grey-100 c-grey-700"><span> {{t.Loaiquantrac_Ten}}</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="utop" style="display: inline-block;width:max-content;">
                    <li>
                        <div class="searchbar adv-search true">
                            <input style="width: 400px;padding:4px 30px;border:1px solid #63bbc5;" class="search_input {{focusSearch}}" type="text" ng-focus="focusSearch = true" ng-blur="focusSearch = false" placeholder="Tìm kiếm ..." ng-model="option.s" my-enter="search()">
                            <a class="search_icon left-icon" ng-click="search()"><i class="fa fa-search {{option.s!=''}}"></i></a>
                                   <a class="search_icon" data-toggle="dropdown" style="margin-top: 7px !important">
                                <span class="arrow"><i class="la la-angle-down"></i></span>
                            </a>
                                   <ul class="dropdown-menu menu-task" style="max-height: calc(100vh - 200px); overflow-y: auto; overflow-x: hidden; margin-left: 0px;min-width: 399px !important;max-width: 399px !important; box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 7%), 0 4px 8px rgb(0 0 0 / 7%), 0 8px 16px rgb(0 0 0 / 7%), 0 16px 32px rgb(0 0 0 / 7%), 0 32px 64px rgb(0 0 0 / 7%) !important;">
                                       <li>
                                           <label class="fw-500">Trạm quan trắc</label>
                                           <div class="ip-us" tabindex="-1">
                                               <ul style="float: left; padding: 0px;" ng-if="option.tramquantracs">
                                                   <li style="height: 36px; float: left; list-style-type: none; margin-top: -2px" ng-repeat="m in option.tramquantracs track by $index">
                                                       <div class="label btn-primary" style="white-space:unset;display: inline-flex;">
                                                           <strong ng-bind="m.Tramquantrac_Ten" style="padding:5px"></strong>
                                                           <i class="la la-times" style="color:#fff;" ng-click="removetag(option.tramquantracs, null ,$index)"></i>
                                                       </div>
                                                   </li>
                                               </ul>
                                               <input ng-keyup="complete_AdvSearch(option.searchT,option,$event,'1','tramquantrac')" ng-click="complete_AdvSearch(option.searchT,option,$event,'1','tramquantrac')" ng-model="option.searchT" class="ipautoUser {{option.Focus1}}" style="border: none; background-color: transparent; padding: 7px 0px;" placeholder="Ấn để thêm" />

                                           </div>
                                           <div ng-if="option.Focus1 && tramquantracs_advsearch.length > 0" class="bg-white" style="border: 1px solid #ced4da; border-radius: 5px; position: relative; z-index: 9; min-width: 96%">
                                               <ul style="z-index: 1001; margin: 0; padding: 0; margin-top: 5px; max-height: 264px; overflow: auto;" tabindex="0" ng-keydown="handleKeyDown($event)" aria-expanded="true" aria-hidden="false">
                                                   <li class="li-search {{focusedIndex == $index?'focus':''}}" ng-repeat="u in tramquantracs_advsearch| limitTo : 20 " ng-click="clickAdd_AdvSearch(u,'tramquantrac')" ng-mouseover="$parent.focusedIndex = $index">
                                                       <div style="display:flex" ng-class="u.Trangthai">
                                                           <div style="margin-left:5px">
                                                               <span ng-bind="u.Tramquantrac_Ten" style="padding:5px"></span>
                                                           </div>
                                                       </div>
                                                   </li>
                                               </ul>
                                               <div class="clr"></div>
                                           </div>
                                       </li>
                                       <li class="mT-10">
                                           <label class="fw-500">Địa danh</label>
                                           <div class="ip-us" tabindex="-1">
                                               <ul style="float: left; padding: 0px;" ng-if="option.diadanhs">
                                                   <li style="height: 36px; float: left; list-style-type: none; margin-top: -2px" ng-repeat="m in option.diadanhs track by $index">
                                                       <div class="label btn-primary" style="white-space:unset;display: inline-flex;">
                                                           <strong ng-bind="m.Diadanh_Ten" style="padding:5px"></strong>
                                                           <i class="la la-times" style="color:#fff;" ng-click="removetag(option.diadanhs, null ,$index)"></i>
                                                       </div>
                                                   </li>
                                               </ul>
                                               <input ng-keyup="complete_AdvSearch(option.searchD,option,$event,'2','diadanh')" ng-click="complete_AdvSearch(option.searchD,option,$event,'2','diadanh')" ng-model="option.searchD" class="ipautoUser {{option.Focus2}}" style="border: none; background-color: transparent; padding: 7px 0px;" placeholder="Ấn để thêm" />

                                           </div>
                                           <div ng-if="option.Focus2 && diadanhs_advsearch.length > 0" class="bg-white" style="border: 1px solid #ced4da; border-radius: 5px; position: relative; z-index: 9; min-width: 96%">
                                               <ul style="z-index: 1001; margin: 0; padding: 0; margin-top: 5px; max-height: 264px; overflow: auto;" tabindex="0" ng-keydown="handleKeyDown($event)" aria-expanded="true" aria-hidden="false">
                                                   <li class="li-search {{focusedIndex == $index?'focus':''}}" ng-repeat="u in diadanhs_advsearch| limitTo : 20 " ng-click="clickAdd_AdvSearch(u,'diadanh')" ng-mouseover="$parent.focusedIndex = $index">
                                                       <div style="display:flex" ng-class="u.Trangthai">
                                                           <div style="margin-left:5px">
                                                               <span ng-bind="u.Diadanh_Ten" style="padding:5px"></span>
                                                           </div>
                                                       </div>
                                                   </li>
                                               </ul>
                                               <div class="clr"></div>
                                           </div>
                                       </li>
                                       <li class="dropdown-date mT-10" style="margin: 10px 0">
                                           <label class="fw-500">Ngày thực hiện</label>
                                           <div class="col-md-12" style="margin-bottom: 10px">
                                               <div class="row keep-open-on-click">
                                                   <div class="col-md-5 p-0">
                                                       <div class="dropdown datetimeinput input-group">
                                                           <input type="date" style="margin-right:1px; padding: 0 10px" class="form-control" name="Ngaycap" ng-model="option.fromdate" placeholder="dd/MM/yyyy" required />
                                                       </div>
                                                   </div>
                                                   <div class="col-md-2 position-relative" style="top: 6px;">đến</div>
                                                   <div class="col-md-5 p-0">
                                                       <div class="dropdown datetimeinput input-group">
                                                           <input type="date" style="margin-right:1px; padding: 0 10px" class="form-control" name="Ngaycap" ng-model="option.todate" placeholder="dd/MM/yyyy" required />
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </li>
                                       <li class="mT-10">
                                           <button type="button" class="btn btn-secondary btnCancelFrom" ng-click="RemoveDieukien()" style="float:right">Bỏ chọn</button>
                                           <button type="button" class="btn btn-primary btnAddForm" ng-click="List_Thongso()" style="float:right; margin-right: 5px">Thực hiện</button>
                                       </li>
                                   </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 action-right pR-0">
                <ul class="utop">
                    <li>
                        <div class="btn-active dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <span class="las la-sort-amount-up-alt"></span>
                            <span>Sắp xếp</span>
                        </div>
                        <ul class="dropdown-menu list-tc" id="dropdownSort" role="menu" style="min-width: 100px;margin-top:0;">
                            <li ng-repeat="t in ListSortTS track by t.id">
                                <a ng-click="setSortCC(t)" class="{{t.id === opition.sortDetail}} d-b td-n pY-5 bgcH-grey-100 c-grey-700"><span class="{{t.typeStyle}}"></span><span> {{t.text}}</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="btn-active" ng-click="Refresh()" style="text-align:center;">
                            <i class="la la-sync"></i>
                            <span>Refresh</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="divContent" style="padding-right:2px;">
        <div class="row-content bg-white top-page" style="margin:0;max-height: calc(100vh - 201px);min-height:calc(100vh - 201px); overflow-x:auto; overflow-y: auto">
            <table class="table table-bordered tbpad mB-0" style="table-layout: fixed">
                <thead>
                    <tr>
                        <th class="text-center row-danhmuc sticky sticky-1" style="width: 80px; z-index:10; background-color: #e2efda">#</th>
                        <th class="text-center row-danhmuc sticky sticky-2" style="width: 50px; z-index:10; background-color: #e2efda">STT</th>
                        <th class="text-center row-danhmuc sticky sticky-3" style="width: 180px; z-index:10; background-color: #e2efda">Tên trạm</th>
                        <th class="text-center row-danhmuc sticky sticky-4" style="width: 200px; z-index:10; background-color: #e2efda">Ngày giờ</th>
                        <th class="text-center row-danhmuc sticky" width="120" ng-repeat="tm in thongsomaus">{{tm.Thongsomau_Ten}} <div>({{tm.Donvi}})</div></th>
                        <th class="text-center row-danhmuc sticky" style="width: 120px;">AQI</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <tr ng-repeat="t in thongsos" style="height: 45px;">
                        <td ng-if="!t.isInput" class="sticky-1" width="80" style="text-align:center;">
                            <div class="d-flex">
                                <a ng-click="Input_UpdateThongso(t)" tooltip-placement="bottom" uib-tooltip="Sửa"><i style="font-size:22px" class="la la-edit"></i></a>
                                <a ng-click="Del_Thongso(thongsos, t)" tooltip-placement="bottom" uib-tooltip="Xoá"><i style="font-size:22px" class="la la-trash"></i></a>
                            </div>
                        </td>
                        <td ng-if="t.isInput" class="sticky-1" width="80" style="text-align:center;">
                            <div class="d-flex">
                                <a class="mR-5" ng-click="Add_Thongso(t)" tooltip-placement="bottom" uib-tooltip="Lưu lại"><i style="font-size:22px" class="la la-save"></i></a>
                                <a ng-click="Cancel_UpdateThongso(t)" tooltip-placement="bottom" uib-tooltip="Huỷ bỏ"><i style="font-size:22px" class="la la-remove"></i></a>
                            </div>
                        </td>
                        <td class="sticky-2" style="text-align:center;">{{$index+1}}</td>
                        <td ng-if="!t.isInput" class="sticky-3">{{t.Tramquantrac_Ten}}</td>
                        <td ng-if="t.isInput" class="sticky-3">
                            <select data-js-select2 class="form-control text-company" ng-model="t.Tramquantrac_ID" ng-options="item.Tramquantrac_ID as item.Tramquantrac_Ten for item in tramquantracs" required></select>
                        </td>
                        <td ng-if="!t.isInput" class="sticky-4">{{t.Ngaythuchien | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td ng-if="t.isInput" class="sticky-4">
                            <div class="dropdown datetimeinput">
                                <a class="dropdown-toggle ng" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="t.Ngaythuchien" placeholder="Ngày giờ" data-date-time-input="DD/MM/YYYY HH:mm" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="t.Ngaythuchien" data-datetimepicker-config="{ dropdownSelector: '.ng',startView:'minute', minView:'minute' }"></datetimepicker>
                                </ul>
                            </div>
                        </td>
                        <td class="text-center" ng-repeat="tm in thongsomaus">
                            <span ng-if="!t.isInput" ng-bind="t[tm.Thongsomau_Ten]"></span>
                            <span ng-if="t.isInput">
                                <input type="number" class="form-control" ng-model="t[tm.Thongsomau_Ten]" />
                            </span>
                        </td>
                        <td ng-if="!t.isInput">{{t.AQI}}</td>
                        <td ng-if="t.isInput">
                            <input type="number" class="form-control" ng-model="t.AQI" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12" ng-if="thongsos.length == 0" style="margin:0px;text-align:center; font-weight:bold;">Không có dữ liệu trong bảng</div>
        </div>
    </div>
    <!-- Modal add ly do -->
    <div class="modal fades" id="ModalAddThongso" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg animated zoomIn faster" style="margin: 1rem auto; max-width: 1000px">
            <div class="modal-content no-border">
                <div modal-movable class="modal-header head-modal no-border">
                    <h4 class="modal-title">{{modalTitle}}</h4>
                    <button type="button" class="close" data-dismiss="modal" ng-click="Close_Form('focusBtnAdd')">
                        <i class="la la-times-circle"></i>
                    </button>
                </div>
                <div class="modal-body" style="padding:0;">
                    <div class="modal-tab" style="padding:10px">
                        <ul class="nav nav-tabs tasktab">
                            <li><a class="active" data-toggle="tab" data-target="#Thongso">Thông tin chung</a></li>
                            <li><a data-toggle="tab" data-target="#qcvn">QCVN</a></li>
                        </ul>
                    </div>
                    <div style="padding:10px 20px;background-color:#fff">
                        <div class="tab-content" style="padding: 0">
                            <div id="Thongso" class="tab-pane fade in active" style="max-height:calc(100vh - 250px);overflow-y:auto;overflow-x:hidden">
                                <form id="frThongso" name="frThongso">
                                    <div class="row" style="margin-right: 0; margin-left: 0">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="fw-500">Tên trạm quan trắc</label>
                                                <input ng-model="Thongso.Thongso_Ten" style="font-weight:500" type="text" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="fw-500">Loại quan trắc</label>
                                                <select data-js-select2 class="form-control text-company" ng-model="Thongso.Loaiquantrac_ID" ng-options="item.Loaiquantrac_ID as item.Loaiquantrac_Ten for item in loaiquantracs"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="fw-500">Mã trạm</label>
                                                <input ng-model="Thongso.MaTram" style="font-weight:500" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-500">Kinh độ</label>
                                                <input ng-model="Thongso.Kinhdo" style="font-weight:500" type="number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-500">Vĩ độ</label>
                                                <input ng-model="Thongso.Vido" style="font-weight:500" type="number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="fw-500">Địa danh</label>
                                                <select data-js-select2 class="form-control text-company" ng-model="Thongso.Diadanh_ID" ng-options="item.Diadanh_ID as item.Diadanh_Ten for item in diadanhchas"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="fw-500">Cơ quan quản lý</label>
                                                <select data-js-select2 class="form-control text-company" ng-model="Thongso.CoquanQuanly_ID" ng-options="item.CoquanQuanly_ID as item.CoquanQuanly_Ten for item in coquanquanlychas"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="fw-500">Tần suất nhận dữ liệu (phút)</label>
                                                <input ng-model="Thongso.TansuatNhanDL" style="font-weight:500" type="number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="fw-500">Địa chỉ</label>
                                                <input ng-model="Thongso.Diachi" style="font-weight:500" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="fw-500">Mô tả</label>
                                                <input ng-model="Thongso.Mota" style="font-weight:500" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="fw-500">
                                                    Trạng thái
                                                </label>
                                                <label class="switch" style="margin: 5px">
                                                    <input type="checkbox" ng-model="Thongso.Trangthai" ng-checked="Thongso.Trangthai" />
                                                    <span class="slider">
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="fw-500">Thứ tự<span style="color:red;"> (*) </span></label>
                                                <input ng-model="Thongso.STT" style="font-weight:500" type="number" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="qcvn" class="tab-pane fade" style="max-height:calc(100vh - 250px);overflow-y:auto">
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td><label class="fw-500 mT-15">QCVN <span style="color: red">*</span></label></td>
                                                    <td>
                                                        <select data-js-select2 class="form-control text-company" ng-model="Thongso.QCVN_ID" ng-options="item.QCVN_ID as item.SoQCVN for item in qcvns" required></select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label class="fw-500 mT-15">Loại trong QCVN <span style="color: red">*</span></label></td>
                                                    <td>
                                                        <select data-js-select2 class="form-control text-company" ng-model="Thongso.LoaiQCVN" ng-options="item.value as item.text for item in ListLoaiQCVN" required></select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label class="fw-500 mT-15">Hệ số 1 <span style="color: red">*</span>(Kq/Kp)</label></td>
                                                    <td>
                                                        <input ng-model="Thongso.QCVN_Heso1" style="font-weight:500" type="number" class="form-control" required>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label class="fw-500 mT-15">Hệ số 2 <span style="color: red">*</span>(Kf/Kv)</label></td>
                                                    <td>
                                                        <input ng-model="Thongso.QCVN_Heso2" style="font-weight:500" type="number" class="form-control" required>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer" style="border-top:none!important;display:block;font-weight:500">
                    <button type="button" class="btn btn-secondary btnCancelFrom" data-dismiss="modal" ng-click="Close_Form('focusBtnAdd')" style="float:left">Thoát</button>
                    <button type="button" class="btn btn-primary btnAddForm" ng-click="Add_Thongso(frThongso)" style="float:right">Lưu lại</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'/App/Danhmuc/ModalImport_LA.html'"></div>
    <div ng-include="'/App/Danhmuc/ModalUploadData.html'"></div>
</div>
<script>
    $('.adv-search .dropdown-menu').on('click', function (event) {
        event.stopPropagation();
    });
    $('.dropdown-date a.dropdown-toggle').click(function () {
        var subMenu = $(this).next('.dropdown-menu');
        subMenu.toggleClass('show');
    });
    $(".adv-search .dropdown-menu .dropdown, .adv-search .dropdown-menu .dropup").click(function () {
        var dropdownClassCheck = $(this).hasClass('dropdown');
        var buttonOffset = $(this).offset().top;
        var scrollboxOffset = $('.adv-search').offset().top;
        var buttonHeight = $(this).height();
        var scrollBoxHeight = $('.adv-search').height();
        var dropDownButtonHeight = $(this).children('ul').height();
        dropdownSpaceCheck = scrollBoxHeight > buttonOffset - scrollboxOffset + buttonHeight + dropDownButtonHeight;
        if (dropdownClassCheck && !dropdownSpaceCheck) {
            $(this).removeClass('dropdown').addClass('dropup');
        }
        else if (!dropdownClassCheck && dropdownSpaceCheck) {
            $(this).removeClass('dropup').addClass('dropdown');
        }
    })
</script>